 

.addHeight
  height: 30rem
  
.popUpMenu
  padding: 0
  margin: 0
  width: 100%
  width: 12rem
  z-index: 999
  position: fixed

.popUpMenuHeader
  background: $grey-lightest
  height: 2.5rem
  padding: 0.5rem

.popUpMenuContent
  background: white
  padding: 0.5rem

.popUpMenuButton, .popUpMenuButton:hover, .popUpMenuButton:active, .popUpMenuButton:target
  background: $blue
  color: white
  font-weight: bold

.topSpacing
  margin-top: 1rem

.smallSpacing
  padding: 1vh

.dataTableBox
  height: 56vh
  width: 53%
  float: left

.tableCustom
  width: 32rem

.mapWithplaces
  width: 46%
  float: right

.overflowXYScroll
  overflow-x: scroll
  overflow-y: scroll

.makeFixedColumnHeight
  max-height: 25rem

.makeFixedColumnWidth // https://stackoverflow.com/questions/23794713/how-can-i-have-two-fixed-width-columns-with-one-flexible-column-in-the-center
  flex: 0 0 20rem

.profileForm
  font-size: 1.2rem

  input
    height: 2rem
    font-size: 18px
    width: 100%


.customButton
  width: 2rem
  margin-right: 1rem

.customSpan
  width: 70%

.customPaddingForText
  width: 30%


.customSpan_adminDataTableSelector
  width: 50%
  color: $grey-dark

  option
    color: $grey-dark
  

.customPaddingForText_adminDataTable
  width: 30%

.modal
  opacity: 1
  transition: opacity 300ms ease-in-out

.modal-card
  height: 50%
  border-radius: 0.5rem
  
.customBox
  height: 100%


.CustomModal
  width: 80%
  height: 80%

.narrowColumnPair
  width: 70%
  border: 1px solid $grey-lightest
  border-radius: 3px
  margin: 0 auto 5px auto

input.newActivityNotes
  display: block
  height: 3rem
  width: 70%

.myCustomError
  color: red
  background: $grey-lightest
  padding: 2px
  margin: 2px
  border-radius: 3px
  display: block

.container
  min-width: 96%
  padding-bottom: 3rem
  .message-body
    overflow: scroll
    
/*!#######################################################################*/
/*! #### SECTION: file upload-- https://codepen.io/hartzis/pen/VvNGZP ####*/
/*!#######################################################################*/
h3
  margin-left: 15px

.fileInput
  border-bottom: 1px solid #c5c5c5
  border-right: 1px solid #c5c5c5
  border-top: 1px solid #c5c5c5
  border-left: 1px solid #c5c5c5
  cursor: pointer
  min-height: 3rem
  margin-top: 1rem
  padding: 0.8rem
  display: inline-block
  max-width: 15rem
  clear: both
  
.imgPreview
  text-align: center
  margin: 5px 15px
  height: 300px
  width: 300px
  border-left: 1px solid #c5c5c5
  border-right: 1px solid #c5c5c5
  border-top: 1px solid #c5c5c5
  border-bottom: 1px solid #c5c5c5
  img
    width: 100%
    height: 100%
  
.previewText
  width: 100%
  margin-top: 20px
  
.submitButton
  padding: 12px
  margin-left: 2rem
  background: white
  border: 1px solid #c5c5c5
  border-radius: 15px
  font-weight: 700
  font-size: 10pt
  cursor: pointer
  &:hover
    background: #efefef


/*!#######################################################################*/
/*! ###############    END SECTION: file upload     ######################*/
/*!#######################################################################*/
.lightBorderBox
  padding-left: .8rem
  display: inline-block
  margin-top: .5rem
  text-align: center

/*! For bootstrap related styles for react-bootstrap-table */


/*!#######################################################################*/
/*! #### SECTION: popup modal style -- https://react-popup.elazizi.com/use-case---modal/
/*!#######################################################################*/

/*! .modal
  font-size: 12px
  >
    .header
      width: 100%
      border-bottom: 1px solid gray
      font-size: 18px
      text-align: center
      padding: 5px
    .content
      width: 100%
      padding: 10px 5px
    .actions
      width: 100%
      padding: 10px 5px
      margin: auto
      text-align: center
    .close
      cursor: pointer
      position: absolute
      display: block
      padding: 2px 5px
      line-height: 20px
      right: -10px
      top: -10px
      font-size: 24px
      background: #ffffff
      border-radius: 18px
      border: 1px solid #cfcece */

.btn-group > *
  margin: 0 1rem 0 0

.margin_top_bottom
  margin: 1rem 0 1rem 0

.margin_sides
  margin: 0 1rem 0 1rem

.noMargin_noPadding_inlineBlock
  margin: 0
  padding: 0
  display: inline-block

*
  border: 1px solid red