.popUpMenu
  padding: 0
  margin: 0
  width: 100%
  width: 12rem
  z-index: 999
  position: fixed

.popUpMenuHeader
  background: $grey-lightest
  height: 2.5rem
  padding: 0.5rem

.popUpMenuContent
  background: white
  padding: 0.5rem

.popUpMenuButton, .popUpMenuButton:hover, .popUpMenuButton:active, .popUpMenuButton:target
  background: $blue
  color: white
  font-weight: bold

.topSpacing
  margin-top: 1rem

.smallSpacing
  padding: 1vh

.overflowXYScroll
  overflow-x: scroll
  overflow-Y: scroll

.makeFixedColumnHeight
  max-height: 25rem

.makeFixedColumnWidth // https://stackoverflow.com/questions/23794713/how-can-i-have-two-fixed-width-columns-with-one-flexible-column-in-the-center
  flex: 0 0 20rem