 
.addHeight
  height: 30rem
  
.popUpMenu
  padding: 0
  margin: 0
  width: 100%
  width: 12rem
  z-index: 999
  position: fixed

.popUpMenuHeader
  background: $grey-lightest
  height: 2.5rem
  padding: 0.5rem

.popUpMenuContent
  background: white
  padding: 0.5rem

.popUpMenuButton, .popUpMenuButton:hover, .popUpMenuButton:active, .popUpMenuButton:target
  background: $blue
  color: white
  font-weight: bold

.topSpacing
  margin-top: 1rem

.smallSpacing
  padding: 1vh

.dataTableBox
  height: 56vh
  width: 53%
  float: left

.tableCustom
  width: 32rem

.mapWithplaces
  width: 46%
  float: right

.overflowXYScroll
  overflow-x: scroll
  overflow-Y: scroll

.makeFixedColumnHeight
  max-height: 25rem

.makeFixedColumnWidth // https://stackoverflow.com/questions/23794713/how-can-i-have-two-fixed-width-columns-with-one-flexible-column-in-the-center
  flex: 0 0 20rem

.profileForm
  font-size: 1.2rem

  input
    height: 2rem
    font-size: 18px
    width: 100%


.customButton
  width: 2rem
  margin-right: 1rem

.customSpan
  width: 70%

.customPaddingForText
  width: 30%


.customSpan_adminDataTableSelector
  width: 50%
  color: $grey-dark

  option
    color: $grey-dark
  

.customPaddingForText_adminDataTable
  width: 30%

.modal
  opacity: 1
  transition: opacity 300ms ease-in-out

.modal-card
  height: 50%
  border-radius: 0.5rem
  
.customBox
  height: 100%



.CustomModal
  width: 80%
  height: 80%

.narrowColumnPair
  width: 70%
  border: 1px solid $grey-lightest
  border-radius: 3px
  margin: 0 auto 5px auto

input.newActivityNotes
  display: block
  height: 3rem
  width: 70%

.myCustomError
  color: red
  background: $grey-lightest
  padding: 2px
  margin: 2px
  border-radius: 3px
  display: block
