# ignore all files/directories with which match these
**/.DS_Store
**.log
**/.sass-cache
**/node_modules
**/.Rhistory

**/.env
**/.pgpass
**/config.json
**/testScripts

# ignore file:
projectNotes.txt
ircNotes.txt
notesForGoogleDrive.txt

# recursively ignore directory:
fontAwesome/
my-resume/