<!DOCTYPE html>
<html>

<head>
  <title>
  </title>
  <link rel='stylesheet' href='/reactBundles/component_modules/employee_dashboard/testCardArray.css' />
</head>

<body>
  <div>
    <div id="react-root"></div>
  </div>
</body>
<script src="/reactBundles/component_modules/employee_dashboard/testCardArray.js"></script>

</html>