<nav class="navbar customNavbarSpacing" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a href="http://localhost:3000/timetracker"class="navbar-item">Timetracker
    </a>

    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a class="button is-primary" href="/auth/register">
            Register
          </a>
          <a class="button is-light" href="/auth/login">
            Log in
          </a>
          <a class="button is-light" href="/auth/logout">
            Log out
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>