<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Register</title>


  <!-- Currently CSS is in react bundle -->
  <!-- <link href="/stylesheets/bootstrap4-compiled.css" rel="stylesheet" type="text/css"> -->
  <link rel='stylesheet' href='/stylesheets/forDev_bulma.css' />
  <link rel='stylesheet' href='/stylesheets/forDev_myStyles.css' />

</head>

<body>

  <!-- Navigation bar -->
  <%- include ../page_partials/navigationBar.ejs %>

  <div class="container is-fluid topSpacing">

    <div class="box customBoxSpacing">
      <!-- Content -->
      <div class="container CustomFormSpacing">
        <h1 class="loginHeader">Register below</h1>
        <br>
        <% if ( messages.infoMessage ) { %>
        <p>Error:
          <%= messages.infoMessage %>
        </p>
        <br>
        <% } %>

        <% if (Object.keys(errors).length === 0) { %>
          <p>Please enter the email and password you would like to use for your account.</p>
          <br>
        <% } else { %>
        <h4 class="title is-5">Oops, please correct the following:</h4>
        <ul class="subtitle is-5">
          <% Object.values(errors).forEach(error => { %>
          <li>
            &bull;&nbsp; <%= error.msg %>
          </li>
          <% }) %>
        </ul>
        <% } %>

        <form role="form" method="POST" action="/auth/register" novalidate>
          <div class="field">
            <p class="control">
              <!-- <p class="control has-icons-left has-icons-right"> -->
              <input class="input" name="email" type="email" placeholder="Email">
              <!-- <span class="icon is-small is-left">
                <i class="fas fa-envelope"></i>
              </span>
              <span class="icon is-small is-right">
                <i class="fas fa-check"></i>
              </span> -->
            </p>
          </div>
          <div class="field">
            <!-- <p class="control has-icons-left"> -->
            <p class="control">
              <input class="input" name="password" type="password" placeholder="Password">
              <!-- <span class="icon is-small is-left">
                <i class="fas fa-lock"></i>
              </span> -->
            </p>
          </div>
          <div class="field">
            <!-- <p class="control has-icons-left"> -->
            <p class="control">
              <input class="input" name="passwordconfirmation" type="password" placeholder="Please confirm your password">
              <!-- <span class="icon is-small is-left">
                          <i class="fas fa-lock"></i>
                        </span> -->
            </p>
          </div>
          <div class="field">
            <p class="control">
              <button class="button is-success">
                Register
              </button>
            </p>
          </div>
        </form>


      </div>

    </div>
  </div>

  <script>
    document.addEventListener('DOMContentLoaded', () => {

      // Get all "navbar-burger" elements
      const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

      // Check if there are any navbar burgers
      if ($navbarBurgers.length > 0) {

        // Add a click event on each of them
        $navbarBurgers.forEach(el => {
          el.addEventListener('click', () => {

            // Get the target from the "data-target" attribute
            const target = el.dataset.target;
            const $target = document.getElementById(target);

            // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
            el.classList.toggle('is-active');
            $target.classList.toggle('is-active');

          });
        });
      }

    });
  </script>
</body>

</html>