<!DOCTYPE html>
<html>

<head>
  <title>
  </title>
  <link rel='stylesheet' href='/reactBundles/main.css' />
</head>

<body>
  <div><p>Hopefully this works</p></div>
  <div>
    <div id="react-root"></div>
  </div>
</body>
<script src="/reactBundles/main-bundle.js"></script>

</html>