<!DOCTYPE html>
<html>

<head>
  <title>
  </title>
  <!-- <link rel='stylesheet' href='/stylesheets/style.css' /> -->
</head>

<body>
  <div>
    <div id="react-root"></div>
  </div>
</body>
  <script src="/reactBundles/main-bundle.js"></script>
</html>