<div class="card">
    <div class="card-body">

        <div class="table-wrapper-2">

            <!--Table-->
            <table class="table table-responsive-md">
<thead><tr><th title="Field #1">#</th>
<th title="Field #2">zipcode</th>
<th title="Field #3">SqMtrs</th>
<th title="Field #4">SqKm</th>
<th title="Field #5">PopulationBelowPovertyLevel</th>
<th title="Field #6">MedianHouseholdIncome</th>
<th title="Field #7">Unemployment</th>
<th title="Field #8">MedianRent</th>
<th title="Field #9">population</th>
<th title="Field #10">assault</th>
<th title="Field #11">burglary</th>
<th title="Field #12">homicide</th>
<th title="Field #13">rape</th>
<th title="Field #14">robbery</th>
<th title="Field #15">theft</th>
<th title="Field #16">assault_perCapita</th>
<th title="Field #17">burglary_perCapita</th>
<th title="Field #18">homicide_perCapita</th>
<th title="Field #19">rape_perCapita</th>
<th title="Field #20">robbery_perCapita</th>
<th title="Field #21">theft_perCapita</th>
<th title="Field #22">totalCrimes</th>
<th title="Field #23">totalCrimesPerCapita</th>
</tr></thead>
<tbody><tr>
<td align="right">1</td>
<td align="right">78617</td>
<td align="right">179810277</td>
<td align="right">179.810277</td>
<td align="right">18</td>
<td align="right">43957</td>
<td align="right">15</td>
<td align="right">1041</td>
<td align="right">19553</td>
<td align="right">14</td>
<td align="right">48</td>
<td align="right">0</td>
<td align="right">10</td>
<td align="right">12</td>
<td align="right">190</td>
<td align="right">0.000716002659438449</td>
<td align="right">0.00245486626093183</td>
<td align="right">0</td>
<td align="right">0.000511430471027464</td>
<td align="right">0.000613716565232957</td>
<td align="right">0.00971717894952181</td>
<td align="right">274</td>
<td align="right">0.0140131949061525</td>
</tr>
<tr>
<td align="right">2</td>
<td align="right">78701</td>
<td align="right">4218139</td>
<td align="right">4.218139</td>
<td align="right">20</td>
<td align="right">68152</td>
<td align="right">9</td>
<td align="right">1590</td>
<td align="right">5642</td>
<td align="right">84</td>
<td align="right">83</td>
<td align="right">1</td>
<td align="right">34</td>
<td align="right">58</td>
<td align="right">1776</td>
<td align="right">0.0148883374689826</td>
<td align="right">0.0147110953562566</td>
<td align="right">0.000177242112725984</td>
<td align="right">0.00602623183268345</td>
<td align="right">0.0102800425381071</td>
<td align="right">0.314781992201347</td>
<td align="right">2036</td>
<td align="right">0.360864941510103</td>
</tr>
<tr>
<td align="right">3</td>
<td align="right">78702</td>
<td align="right">12944540</td>
<td align="right">12.94454</td>
<td align="right">33</td>
<td align="right">34734</td>
<td align="right">11</td>
<td align="right">766</td>
<td align="right">21032</td>
<td align="right">120</td>
<td align="right">374</td>
<td align="right">2</td>
<td align="right">22</td>
<td align="right">75</td>
<td align="right">1603</td>
<td align="right">0.00570559147965006</td>
<td align="right">0.0177824267782427</td>
<td align="right">9.5093191327501e-05</td>
<td align="right">0.00104602510460251</td>
<td align="right">0.00356599467478129</td>
<td align="right">0.076217192848992</td>
<td align="right">2196</td>
<td align="right">0.104412324077596</td>
</tr>
<tr>
<td align="right">4</td>
<td align="right">78703</td>
<td align="right">14436159</td>
<td align="right">14.436159</td>
<td align="right">10</td>
<td align="right">92606</td>
<td align="right">4</td>
<td align="right">1183</td>
<td align="right">19873</td>
<td align="right">9</td>
<td align="right">76</td>
<td align="right">0</td>
<td align="right">3</td>
<td align="right">7</td>
<td align="right">565</td>
<td align="right">0.000452875761082876</td>
<td align="right">0.00382428420469984</td>
<td align="right">0</td>
<td align="right">0.000150958587027625</td>
<td align="right">0.000352236703064459</td>
<td align="right">0.0284305338902028</td>
<td align="right">660</td>
<td align="right">0.0332108891460776</td>
</tr>
<tr>
<td align="right">5</td>
<td align="right">78704</td>
<td align="right">22503945</td>
<td align="right">22.503945</td>
<td align="right">21</td>
<td align="right">50248</td>
<td align="right">7</td>
<td align="right">940</td>
<td align="right">41709</td>
<td align="right">96</td>
<td align="right">318</td>
<td align="right">2</td>
<td align="right">22</td>
<td align="right">34</td>
<td align="right">2243</td>
<td align="right">0.00230166151190391</td>
<td align="right">0.00762425375818169</td>
<td align="right">4.7951281497998e-05</td>
<td align="right">0.000527464096477978</td>
<td align="right">0.000815171785465967</td>
<td align="right">0.0537773622000048</td>
<td align="right">2715</td>
<td align="right">0.0650938646335323</td>
</tr>
<tr>
<td align="right">6</td>
<td align="right">78705</td>
<td align="right">5686651</td>
<td align="right">5.686651</td>
<td align="right">66</td>
<td align="right">11917</td>
<td align="right">14</td>
<td align="right">1088</td>
<td align="right">30532</td>
<td align="right">31</td>
<td align="right">133</td>
<td align="right">0</td>
<td align="right">32</td>
<td align="right">18</td>
<td align="right">924</td>
<td align="right">0.00101532818026988</td>
<td align="right">0.00435608541857723</td>
<td align="right">0</td>
<td align="right">0.00104808070221407</td>
<td align="right">0.000589545394995415</td>
<td align="right">0.0302633302764313</td>
<td align="right">1138</td>
<td align="right">0.0372723699724879</td>
</tr>
<tr>
<td align="right">7</td>
<td align="right">78717</td>
<td align="right">33415021</td>
<td align="right">33.415021</td>
<td align="right">3</td>
<td align="right">93305</td>
<td align="right">5</td>
<td align="right">1018</td>
<td align="right">23514</td>
<td align="right">10</td>
<td align="right">56</td>
<td align="right">0</td>
<td align="right">1</td>
<td align="right">0</td>
<td align="right">190</td>
<td align="right">0.000425278557455133</td>
<td align="right">0.00238155992174875</td>
<td align="right">0</td>
<td align="right">4.25278557455133e-05</td>
<td align="right">0</td>
<td align="right">0.00808029259164753</td>
<td align="right">257</td>
<td align="right">0.0109296589265969</td>
</tr>
<tr>
<td align="right">8</td>
<td align="right">78721</td>
<td align="right">9588238</td>
<td align="right">9.588238</td>
<td align="right">32</td>
<td align="right">32131</td>
<td align="right">16</td>
<td align="right">870</td>
<td align="right">11178</td>
<td align="right">67</td>
<td align="right">146</td>
<td align="right">0</td>
<td align="right">9</td>
<td align="right">23</td>
<td align="right">394</td>
<td align="right">0.00599391662193595</td>
<td align="right">0.0130613705492933</td>
<td align="right">0</td>
<td align="right">0.000805152979066023</td>
<td align="right">0.00205761316872428</td>
<td align="right">0.0352478081946681</td>
<td align="right">639</td>
<td align="right">0.0571658615136876</td>
</tr>
<tr>
<td align="right">9</td>
<td align="right">78722</td>
<td align="right">3919536</td>
<td align="right">3.919536</td>
<td align="right">19</td>
<td align="right">44917</td>
<td align="right">8</td>
<td align="right">930</td>
<td align="right">5973</td>
<td align="right">12</td>
<td align="right">57</td>
<td align="right">0</td>
<td align="right">3</td>
<td align="right">10</td>
<td align="right">265</td>
<td align="right">0.00200904068307383</td>
<td align="right">0.0095429432446007</td>
<td align="right">0</td>
<td align="right">0.000502260170768458</td>
<td align="right">0.00167420056922819</td>
<td align="right">0.0443663150845471</td>
<td align="right">347</td>
<td align="right">0.0580947597522183</td>
</tr>
<tr>
<td align="right">10</td>
<td align="right">78723</td>
<td align="right">17979293</td>
<td align="right">17.979293</td>
<td align="right">29</td>
<td align="right">41869</td>
<td align="right">10</td>
<td align="right">817</td>
<td align="right">30999</td>
<td align="right">149</td>
<td align="right">330</td>
<td align="right">4</td>
<td align="right">42</td>
<td align="right">51</td>
<td align="right">1507</td>
<td align="right">0.00480660666473112</td>
<td align="right">0.0106455046936998</td>
<td align="right">0.000129036420529694</td>
<td align="right">0.00135488241556179</td>
<td align="right">0.00164521436175361</td>
<td align="right">0.0486144714345624</td>
<td align="right">2083</td>
<td align="right">0.0671957159908384</td>
</tr>
<tr>
<td align="right">11</td>
<td align="right">78724</td>
<td align="right">63858033</td>
<td align="right">63.858033</td>
<td align="right">38</td>
<td align="right">35711</td>
<td align="right">8</td>
<td align="right">962</td>
<td align="right">21677</td>
<td align="right">48</td>
<td align="right">127</td>
<td align="right">0</td>
<td align="right">18</td>
<td align="right">17</td>
<td align="right">327</td>
<td align="right">0.00221432855099875</td>
<td align="right">0.0058587442911842</td>
<td align="right">0</td>
<td align="right">0.000830373206624533</td>
<td align="right">0.000784241361812059</td>
<td align="right">0.015085113253679</td>
<td align="right">537</td>
<td align="right">0.0247728006642986</td>
</tr>
<tr>
<td align="right">12</td>
<td align="right">78726</td>
<td align="right">28204228</td>
<td align="right">28.204228</td>
<td align="right">9</td>
<td align="right">66096</td>
<td align="right">4</td>
<td align="right">1050</td>
<td align="right">12482</td>
<td align="right">6</td>
<td align="right">16</td>
<td align="right">0</td>
<td align="right">4</td>
<td align="right">2</td>
<td align="right">176</td>
<td align="right">0.000480692196763339</td>
<td align="right">0.00128184585803557</td>
<td align="right">0</td>
<td align="right">0.000320461464508893</td>
<td align="right">0.000160230732254446</td>
<td align="right">0.0141003044383913</td>
<td align="right">204</td>
<td align="right">0.0163435346899535</td>
</tr>
<tr>
<td align="right">13</td>
<td align="right">78727</td>
<td align="right">22190828</td>
<td align="right">22.190828</td>
<td align="right">11</td>
<td align="right">65687</td>
<td align="right">6</td>
<td align="right">1050</td>
<td align="right">28461</td>
<td align="right">22</td>
<td align="right">78</td>
<td align="right">3</td>
<td align="right">9</td>
<td align="right">5</td>
<td align="right">415</td>
<td align="right">0.000772987597062647</td>
<td align="right">0.00274059238958575</td>
<td align="right">0.000105407399599452</td>
<td align="right">0.000316222198798356</td>
<td align="right">0.00017567899933242</td>
<td align="right">0.0145813569445908</td>
<td align="right">532</td>
<td align="right">0.0186922455289695</td>
</tr>
<tr>
<td align="right">14</td>
<td align="right">78728</td>
<td align="right">21004795</td>
<td align="right">21.004795</td>
<td align="right">14</td>
<td align="right">47405</td>
<td align="right">6</td>
<td align="right">901</td>
<td align="right">20939</td>
<td align="right">0</td>
<td align="right">2</td>
<td align="right">0</td>
<td align="right">0</td>
<td align="right">0</td>
<td align="right">6</td>
<td align="right">0</td>
<td align="right">9.5515545154974e-05</td>
<td align="right">0</td>
<td align="right">0</td>
<td align="right">0</td>
<td align="right">0.000286546635464922</td>
<td align="right">8</td>
<td align="right">0.000382062180619896</td>
</tr>
<tr>
<td align="right">15</td>
<td align="right">78729</td>
<td align="right">23786144</td>
<td align="right">23.786144</td>
<td align="right">8</td>
<td align="right">57358</td>
<td align="right">7</td>
<td align="right">1008</td>
<td align="right">28228</td>
<td align="right">22</td>
<td align="right">78</td>
<td align="right">0</td>
<td align="right">4</td>
<td align="right">8</td>
<td align="right">357</td>
<td align="right">0.000779368003400879</td>
<td align="right">0.00276321383023948</td>
<td align="right">0</td>
<td align="right">0.000141703273345614</td>
<td align="right">0.000283406546691229</td>
<td align="right">0.0126470171460961</td>
<td align="right">469</td>
<td align="right">0.0166147087997733</td>
</tr>
<tr>
<td align="right">16</td>
<td align="right">78730</td>
<td align="right">37840281</td>
<td align="right">37.840281</td>
<td align="right">4</td>
<td align="right">119573</td>
<td align="right">3</td>
<td align="right">1106</td>
<td align="right">8312</td>
<td align="right">3</td>
<td align="right">8</td>
<td align="right">0</td>
<td align="right">2</td>
<td align="right">0</td>
<td align="right">38</td>
<td align="right">0.000360923965351299</td>
<td align="right">0.000962463907603465</td>
<td align="right">0</td>
<td align="right">0.000240615976900866</td>
<td align="right">0</td>
<td align="right">0.00457170356111646</td>
<td align="right">51</td>
<td align="right">0.00613570741097209</td>
</tr>
<tr>
<td align="right">17</td>
<td align="right">78731</td>
<td align="right">22412156</td>
<td align="right">22.412156</td>
<td align="right">9</td>
<td align="right">78265</td>
<td align="right">4</td>
<td align="right">1016</td>
<td align="right">24716</td>
<td align="right">12</td>
<td align="right">83</td>
<td align="right">0</td>
<td align="right">7</td>
<td align="right">4</td>
<td align="right">421</td>
<td align="right">0.000485515455575336</td>
<td align="right">0.00335814856772941</td>
<td align="right">0</td>
<td align="right">0.000283217349085613</td>
<td align="right">0.000161838485191779</td>
<td align="right">0.0170335005664347</td>
<td align="right">527</td>
<td align="right">0.0213222204240168</td>
</tr>
<tr>
<td align="right">18</td>
<td align="right">78732</td>
<td align="right">34465142</td>
<td align="right">34.465142</td>
<td align="right">3</td>
<td align="right">127726</td>
<td align="right">5</td>
<td align="right">1688</td>
<td align="right">14307</td>
<td align="right">0</td>
<td align="right">0</td>
<td align="right">0</td>
<td align="right">0</td>
<td align="right">0</td>
<td align="right">3</td>
<td align="right">0</td>
<td align="right">0</td>
<td align="right">0</td>
<td align="right">0</td>
<td align="right">0</td>
<td align="right">0.000209687565527364</td>
<td align="right">3</td>
<td align="right">0.000209687565527364</td>
</tr>
<tr>
<td align="right">19</td>
<td align="right">78735</td>
<td align="right">53215463</td>
<td align="right">53.215463</td>
<td align="right">6</td>
<td align="right">74571</td>
<td align="right">4</td>
<td align="right">1122</td>
<td align="right">16882</td>
<td align="right">11</td>
<td align="right">50</td>
<td align="right">0</td>
<td align="right">2</td>
<td align="right">2</td>
<td align="right">215</td>
<td align="right">0.000651581566165146</td>
<td align="right">0.00296173439165976</td>
<td align="right">0</td>
<td align="right">0.00011846937566639</td>
<td align="right">0.00011846937566639</td>
<td align="right">0.0127354578841369</td>
<td align="right">280</td>
<td align="right">0.0165857125932946</td>
</tr>
<tr>
<td align="right">20</td>
<td align="right">78739</td>
<td align="right">29628564</td>
<td align="right">29.628564</td>
<td align="right">1</td>
<td align="right">126525</td>
<td align="right">4</td>
<td align="right">2000</td>
<td align="right">16911</td>
<td align="right">1</td>
<td align="right">13</td>
<td align="right">0</td>
<td align="right">1</td>
<td align="right">0</td>
<td align="right">118</td>
<td align="right">5.91331086275206e-05</td>
<td align="right">0.000768730412157767</td>
<td align="right">0</td>
<td align="right">5.91331086275206e-05</td>
<td align="right">0</td>
<td align="right">0.00697770681804743</td>
<td align="right">133</td>
<td align="right">0.00786470344746023</td>
</tr>
<tr>
<td align="right">21</td>
<td align="right">78741</td>
<td align="right">19660250</td>
<td align="right">19.66025</td>
<td align="right">40</td>
<td align="right">30183</td>
<td align="right">9</td>
<td align="right">835</td>
<td align="right">48246</td>
<td align="right">225</td>
<td align="right">598</td>
<td align="right">1</td>
<td align="right">54</td>
<td align="right">130</td>
<td align="right">2386</td>
<td align="right">0.00466359905484392</td>
<td align="right">0.0123948099324296</td>
<td align="right">2.07271069104174e-05</td>
<td align="right">0.00111926377316254</td>
<td align="right">0.00269452389835427</td>
<td align="right">0.049454877088256</td>
<td align="right">3394</td>
<td align="right">0.0703478008539568</td>
</tr>
<tr>
<td align="right">22</td>
<td align="right">78742</td>
<td align="right">14852580</td>
<td align="right">14.85258</td>
<td align="right">37</td>
<td align="right">34076</td>
<td align="right">11</td>
<td align="right">639</td>
<td align="right">901</td>
<td align="right">4</td>
<td align="right">11</td>
<td align="right">0</td>
<td align="right">2</td>
<td align="right">0</td>
<td align="right">29</td>
<td align="right">0.00443951165371809</td>
<td align="right">0.0122086570477248</td>
<td align="right">0</td>
<td align="right">0.00221975582685905</td>
<td align="right">0</td>
<td align="right">0.0321864594894562</td>
<td align="right">46</td>
<td align="right">0.051054384017758</td>
</tr>
<tr>
<td align="right">23</td>
<td align="right">78744</td>
<td align="right">55439912</td>
<td align="right">55.439912</td>
<td align="right">26</td>
<td align="right">41056</td>
<td align="right">9</td>
<td align="right">946</td>
<td align="right">43452</td>
<td align="right">135</td>
<td align="right">407</td>
<td align="right">4</td>
<td align="right">35</td>
<td align="right">51</td>
<td align="right">1563</td>
<td align="right">0.00310687655343828</td>
<td align="right">0.00936665746110651</td>
<td align="right">9.20556015833563e-05</td>
<td align="right">0.000805486513854368</td>
<td align="right">0.00117370892018779</td>
<td align="right">0.0359707263186965</td>
<td align="right">2195</td>
<td align="right">0.0505155113688668</td>
</tr>
<tr>
<td align="right">24</td>
<td align="right">78745</td>
<td align="right">34600328</td>
<td align="right">34.600328</td>
<td align="right">16</td>
<td align="right">49243</td>
<td align="right">7</td>
<td align="right">990</td>
<td align="right">54917</td>
<td align="right">120</td>
<td align="right">435</td>
<td align="right">1</td>
<td align="right">34</td>
<td align="right">37</td>
<td align="right">1950</td>
<td align="right">0.00218511572008668</td>
<td align="right">0.0079210444853142</td>
<td align="right">1.8209297667389e-05</td>
<td align="right">0.000619116120691225</td>
<td align="right">0.000673744013693392</td>
<td align="right">0.0355081304514085</td>
<td align="right">2577</td>
<td align="right">0.0469253600888614</td>
</tr>
<tr>
<td align="right">25</td>
<td align="right">78746</td>
<td align="right">58326014</td>
<td align="right">58.326014</td>
<td align="right">5</td>
<td align="right">125327</td>
<td align="right">4</td>
<td align="right">1221</td>
<td align="right">26939</td>
<td align="right">6</td>
<td align="right">36</td>
<td align="right">0</td>
<td align="right">2</td>
<td align="right">5</td>
<td align="right">741</td>
<td align="right">0.000222725416682134</td>
<td align="right">0.0013363525000928</td>
<td align="right">0</td>
<td align="right">7.42418055607112e-05</td>
<td align="right">0.000185604513901778</td>
<td align="right">0.0275065889602435</td>
<td align="right">790</td>
<td align="right">0.0293255131964809</td>
</tr>
<tr>
<td align="right">26</td>
<td align="right">78748</td>
<td align="right">32834705</td>
<td align="right">32.834705</td>
<td align="right">9</td>
<td align="right">65889</td>
<td align="right">6</td>
<td align="right">1095</td>
<td align="right">40290</td>
<td align="right">48</td>
<td align="right">203</td>
<td align="right">2</td>
<td align="right">13</td>
<td align="right">14</td>
<td align="right">1270</td>
<td align="right">0.00119136262099777</td>
<td align="right">0.00503847108463639</td>
<td align="right">4.96401092082403e-05</td>
<td align="right">0.000322660709853562</td>
<td align="right">0.000347480764457682</td>
<td align="right">0.0315214693472326</td>
<td align="right">1550</td>
<td align="right">0.0384710846363862</td>
</tr>
<tr>
<td align="right">27</td>
<td align="right">78749</td>
<td align="right">26078902</td>
<td align="right">26.078902</td>
<td align="right">6</td>
<td align="right">80956</td>
<td align="right">4</td>
<td align="right">1150</td>
<td align="right">34391</td>
<td align="right">26</td>
<td align="right">86</td>
<td align="right">2</td>
<td align="right">6</td>
<td align="right">9</td>
<td align="right">689</td>
<td align="right">0.000756011747259457</td>
<td align="right">0.00250065424093513</td>
<td align="right">5.8154749789189e-05</td>
<td align="right">0.000174464249367567</td>
<td align="right">0.000261696374051351</td>
<td align="right">0.0200343113023756</td>
<td align="right">818</td>
<td align="right">0.0237852926637783</td>
</tr>
<tr>
<td align="right">28</td>
<td align="right">78750</td>
<td align="right">34718029</td>
<td align="right">34.718029</td>
<td align="right">7</td>
<td align="right">75958</td>
<td align="right">6</td>
<td align="right">1012</td>
<td align="right">27119</td>
<td align="right">16</td>
<td align="right">72</td>
<td align="right">2</td>
<td align="right">4</td>
<td align="right">7</td>
<td align="right">308</td>
<td align="right">0.000589992256351635</td>
<td align="right">0.00265496515358236</td>
<td align="right">7.37490320439544e-05</td>
<td align="right">0.000147498064087909</td>
<td align="right">0.00025812161215384</td>
<td align="right">0.011357350934769</td>
<td align="right">409</td>
<td align="right">0.0150816770529887</td>
</tr>
<tr>
<td align="right">29</td>
<td align="right">78751</td>
<td align="right">6211942</td>
<td align="right">6.211942</td>
<td align="right">26</td>
<td align="right">38624</td>
<td align="right">9</td>
<td align="right">865</td>
<td align="right">14340</td>
<td align="right">22</td>
<td align="right">100</td>
<td align="right">0</td>
<td align="right">8</td>
<td align="right">11</td>
<td align="right">785</td>
<td align="right">0.00153417015341702</td>
<td align="right">0.00697350069735007</td>
<td align="right">0</td>
<td align="right">0.000557880055788006</td>
<td align="right">0.000767085076708508</td>
<td align="right">0.054741980474198</td>
<td align="right">926</td>
<td align="right">0.0645746164574616</td>
</tr>
<tr>
<td align="right">30</td>
<td align="right">78752</td>
<td align="right">8657144</td>
<td align="right">8.657144</td>
<td align="right">32</td>
<td align="right">33271</td>
<td align="right">9</td>
<td align="right">752</td>
<td align="right">17170</td>
<td align="right">101</td>
<td align="right">162</td>
<td align="right">0</td>
<td align="right">23</td>
<td align="right">49</td>
<td align="right">986</td>
<td align="right">0.00588235294117647</td>
<td align="right">0.00943506115317414</td>
<td align="right">0</td>
<td align="right">0.00133954571927781</td>
<td align="right">0.00285381479324403</td>
<td align="right">0.0574257425742574</td>
<td align="right">1321</td>
<td align="right">0.0769365171811299</td>
</tr>
<tr>
<td align="right">31</td>
<td align="right">78753</td>
<td align="right">28417686</td>
<td align="right">28.417686</td>
<td align="right">26</td>
<td align="right">39593</td>
<td align="right">9</td>
<td align="right">826</td>
<td align="right">52384</td>
<td align="right">184</td>
<td align="right">440</td>
<td align="right">4</td>
<td align="right">58</td>
<td align="right">111</td>
<td align="right">3138</td>
<td align="right">0.00351252290775809</td>
<td align="right">0.00839951130116066</td>
<td align="right">7.63591936469151e-05</td>
<td align="right">0.00110720830788027</td>
<td align="right">0.00211896762370189</td>
<td align="right">0.0599037874160049</td>
<td align="right">3935</td>
<td align="right">0.0751183567501527</td>
</tr>
<tr>
<td align="right">32</td>
<td align="right">78754</td>
<td align="right">34419093</td>
<td align="right">34.419093</td>
<td align="right">11</td>
<td align="right">53274</td>
<td align="right">9</td>
<td align="right">969</td>
<td align="right">13570</td>
<td align="right">21</td>
<td align="right">94</td>
<td align="right">0</td>
<td align="right">1</td>
<td align="right">2</td>
<td align="right">339</td>
<td align="right">0.00154753131908622</td>
<td align="right">0.00692704495210022</td>
<td align="right">0</td>
<td align="right">7.36919675755343e-05</td>
<td align="right">0.000147383935151069</td>
<td align="right">0.0249815770081061</td>
<td align="right">457</td>
<td align="right">0.0336772291820192</td>
</tr>
<tr>
<td align="right">33</td>
<td align="right">78756</td>
<td align="right">4329297</td>
<td align="right">4.329297</td>
<td align="right">9</td>
<td align="right">59685</td>
<td align="right">4</td>
<td align="right">888</td>
<td align="right">8060</td>
<td align="right">8</td>
<td align="right">76</td>
<td align="right">0</td>
<td align="right">1</td>
<td align="right">3</td>
<td align="right">267</td>
<td align="right">0.000992555831265509</td>
<td align="right">0.00942928039702233</td>
<td align="right">0</td>
<td align="right">0.000124069478908189</td>
<td align="right">0.000372208436724566</td>
<td align="right">0.0331265508684863</td>
<td align="right">355</td>
<td align="right">0.0440446650124069</td>
</tr>
<tr>
<td align="right">34</td>
<td align="right">78757</td>
<td align="right">12732626</td>
<td align="right">12.732626</td>
<td align="right">16</td>
<td align="right">55156</td>
<td align="right">6</td>
<td align="right">895</td>
<td align="right">22718</td>
<td align="right">21</td>
<td align="right">189</td>
<td align="right">2</td>
<td align="right">13</td>
<td align="right">15</td>
<td align="right">858</td>
<td align="right">0.000924377145875517</td>
<td align="right">0.00831939431287966</td>
<td align="right">8.80359186548112e-05</td>
<td align="right">0.000572233471256273</td>
<td align="right">0.000660269389911084</td>
<td align="right">0.037767409102914</td>
<td align="right">1098</td>
<td align="right">0.0483317193414913</td>
</tr>
<tr>
<td align="right">35</td>
<td align="right">78758</td>
<td align="right">24052435</td>
<td align="right">24.052435</td>
<td align="right">24</td>
<td align="right">41792</td>
<td align="right">10</td>
<td align="right">898</td>
<td align="right">45105</td>
<td align="right">155</td>
<td align="right">412</td>
<td align="right">0</td>
<td align="right">36</td>
<td align="right">79</td>
<td align="right">2144</td>
<td align="right">0.00343642611683849</td>
<td align="right">0.00913424232346747</td>
<td align="right">0</td>
<td align="right">0.000798137678749584</td>
<td align="right">0.00175146879503381</td>
<td align="right">0.047533532867753</td>
<td align="right">2826</td>
<td align="right">0.0626538077818424</td>
</tr>
<tr>
<td align="right">36</td>
<td align="right">78759</td>
<td align="right">36065378</td>
<td align="right">36.065378</td>
<td align="right">7</td>
<td align="right">65672</td>
<td align="right">7</td>
<td align="right">962</td>
<td align="right">39850</td>
<td align="right">31</td>
<td align="right">156</td>
<td align="right">1</td>
<td align="right">9</td>
<td align="right">15</td>
<td align="right">1345</td>
<td align="right">0.000777917189460477</td>
<td align="right">0.00391468005018821</td>
<td align="right">2.50941028858218e-05</td>
<td align="right">0.000225846925972396</td>
<td align="right">0.000376411543287328</td>
<td align="right">0.0337515683814304</td>
<td align="right">1557</td>
<td align="right">0.0390715181932246</td>
</tr>
</tbody></table>

</div>
</div>
</div>