
<!-- NEED TO FIX:
SHOW BUTTONS CONDITIONALLY BASED ON USER TYPE
i.e. if session exists, they're logged in.. so remove the login button-- no need to see it from inside the app.
instead, change it to a log out button
 -->
 <!-- <img src="/icons/calendar-clock.svg" alt="timesheet"> -->
<div class="sidenav shadow-nohover">
  <!-- <a href="#admin_timesheets"><button type="button" class="btn btn-primary btn-sm shadow" data-toggle="toggle" data-target="#admin_timesheets">T</button></a> -->


  <a href="#admin_timesheets"><button type="button" class="my-icon-btn btn-primary btn-sm shadow" data-toggle="toggle" data-target="#admin_timesheets"><span class="timesheets_icon"></span></button></a>


  <a href="#admin_activities"><button type="button" class="my-icon-btn btn-primary btn-sm shadow" data-toggle="toggle" data-target="#admin_activities"><span class="employee_activities_icon"></span></button></a>
  
  <a href="#admin_calendar"><button type="button" class="my-icon-btn btn-primary btn-sm shadow" data-toggle="toggle" data-target="#admin_calendar"><span class="calendar_icon"></span></button></a>
<!--   <a href="#services">Projects</a>
  <a href="#clients">Tasks</a>
  <a href="#contact">Employees</a>
  <a href="#contact">Customers</a> -->
</div>