
<!-- NEED TO FIX:
SHOW BUTTONS CONDITIONALLY BASED ON USER TYPE
i.e. if session exists, they're logged in.. so remove the login button-- no need to see it from inside the app.
instead, change it to a log out button
 -->
<div class="sidenav shadow-nohover">

<a href="#employee_activities"><button type="button" class="my-icon-btn btn-primary btn-sm shadow" data-toggle="toggle" data-target="#employee_activities"><span class="employee_activities_icon"></span></button></a>

<a href="#employee_profile_admin"><button type="button" class="my-icon-btn btn-primary btn-sm shadow" data-toggle="toggle" data-target="#employee_profile_admin">PA</button></a>


<!--   <a href="#services">Projects</a>
  <a href="#clients">Tasks</a>
  <a href="#contact">Employees</a>
  <a href="#contact">Customers</a> -->
</div>