
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">

<title>Starter Template for Bootstrap</title>

<!-- Bootstrap core CSS -->
<link href="/bootstrap4_stylesheets/bootstrap4-compiled.css" rel="stylesheet" type="text/css">
<!-- <script src="/javascripts/mycustom_js_assets/shared_code/htmlHeadLoaded_svg_icons.js"></script> -->


</head>