<hr>

<!-- Project Two -->
<div class="row h-100 justify-content-center align-items-center">
  <div class="col-md-5">
    <img class="img-fluid rounded mb-3 mb-md-0" src="/images/portfolio/app_project/timertracker_app_screenshots.png"
      alt="timetracker app with nodejs">
  </div>
  <div class="col-md-7">
    <h3>Timetracker web app (NodeJS, PostgreSQL, jQuery)</h3>
    <p>In May 2018 I decided to start building a simplified, minimalist timetracker app for managing a small workforce
      (for any service company, such as one which employs contractors or hourly workers). It has been a great sandbox
      for me to polish javascript and SQL skills.</p>
    <a class="btn btn-primary" href="#" data-toggle="modal" data-target=".project-two">Learn about this project</a>
  </div>
</div>
<!-- /.row -->

<!-- #################################################################################### -->
    <!-- #################################################################################### -->
    <!-- Modal content -- project two -->
    <!-- #################################################################################### -->
    <!-- #################################################################################### -->
    <div class="modal fade project-two" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
                  <h5 class="modal-title">Custom workforce management web app (in progress)</h5>
                  <button type="button" class="close-bs4" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
          <div class="modal-body">
            <div class="container-fluid">

              <div class="row">
                <div class="col-md-12">

                    <h3>Timetracker web app (ReactJS, ExpressJS, NodeJS, PostgreSQL)</h3>
                    <p>In May 2018 I decided to start building a simplified, minimalist timetracker app for managing a small workforce (for any service & skilled trades companies, such as one which employs contractors or hourly workers).</p>
                    <h6>Here is the database design.</h6>
                    <p>You can <a style="font-weight: bold;" href="https://www.pmeaney.com/admin_dash/" target="_blank">view the administrator dashboard here</a>, and you can also create a user account (by default, your user account will be represented as employee #2's account.)  This app is essentially still in test mode and needs several improvements to get ready for its first productive version.  My next goal is to get proficient at ReactJS and use it to completely re-do the frontend (which is currently in jQuery).</p>
                  </div>
                </div>

              <div class="row">
                <div class="col-12">
                  <img src="/images/portfolio/app_project/timetracker_ERD.png" alt="timetracker app database design" style="width:100%">
                </div>
              </div>

              <div class="row">
                <div class="col-12">

                    <h6>  The thing I really appreciate about database designs is that they're essentially business designs&mdash;they govern how data is stored and managed within a company and therefore they are the basis for the company's information about the state of company.</h6>

                    <h6>Database design is crucial for a cohesive web application.</h6><p>I started building this project, and recreated it three times until I got the database design right, with the help of a database model I found online, and have since added to it.</p>
                    <p>Now that the database design is working well, and I've developed the front end a bit with jQuery, I've decided to start learning something more modern: React.  I will also put D3 to work, in the administrator and manager dashboards.</p>
                    <p>
                    At the moment though, all that is happening is that the user is able to view some data which is pulled out of the database.  The next steps will be creating various forms for posting new data objects into the database (such as for new employees, new activities, new timesheets, etc).  I will either create these with jQuery once I finish my job hunt and can re-focus on the app, or I might restart the application's front end from scratch with React.</p>
                    <p>Eventually, the app will involve use of the following API:
                      <ul>
                        <li>Google maps (for tracking employee clockin/clockout locations across various projects)</li>
                        <li>Google calendars (for keeping track of employee schedules)</li>
                        <li>Twilio (for text messaging employees about schedule)</li>
                      </ul>
                    </p>
                </div>
              </div>

              <div class="row">
                <div class="col-3">
                    <img src="/images/portfolio/app_project/2000px-Node.js_logo_2015.png" alt="nodeJS logo" style="width:100%">
                </div>
                <div class="col-3">
                    <img src="/images/portfolio/app_project/postgresql-logo.png" alt="postgresql logo" style="width:100%">
                </div>
                <div class="col-3">
                    <img src="/images/portfolio/app_project/NGINX_logo_rgb-01.png" alt="nginx logo" style="width:100%">
                </div>
                <div class="col-3">
                    <img src="/images/portfolio/app_project/ubuntulogo_1.png" alt="ubuntu logo" style="width:100%">
                </div>
              </div>

            </div>
          </div>


          
        </div>
      </div>
    </div>
